<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Insert title here</title>
</head>
<body>
<p th:text="'user : ' + ${username}"></p>
<p th:text="'ip : '+ ${visitip}"></p>
<p th:text="'time : '+ ${visittime}"></p>
<a href="javascript:document.form1.submit();">返回Thymeleaf頁</a>
<form name="form1" th:action="@{thymeleaf}" method="post"> 
<input type="hidden" th:value="${lang}?:'zh_TW'" name="lang">
</form>
</body>
</html>